---
import ExperienceItem from '../ExperienceItem.astro'

const EXPERIENCE = [
  {
    date: 'Mayo 2024 - Actualidad',
    title: 'Desarrollador React Jr',
    company: 'Devdatep Consulting',
    description:
      `Implementé diseños de Figma, integrando y manipulando endpoints para mostrar, filtrar y actualizar información en la base de datos.
      Mejoré y optimicé proyectos existentes, actualizando el código e implementando herramientas de calidad.`,
    link: '',
  },
  {
    date: 'Febrero 2024 - Mayo 2024',
    title: 'Practicante de TI',
    company: 'Ksoft - Senati Huánuco',
    description:
      `Desarrollé aplicaciones web personalizadas para satisfacer las peticiones de los clientes, mejorando su funcionalidad y usabilidad. 
      Facilité soporte técnico a los sistemas de nuestros clientes, asegurando una experiencia de usuario fluida y eficiente.`,
    link: ''
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map(experience => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
