---
import ExperienceItem from '../ExperienceItem.astro'

const EXPERIENCE = [
  {
    date: 'Julio 2025 - Actualidad',
    title: 'Asistente de Desarrollo de Aplicaciones',
    company: 'CVC Energía',
    description: `Desarrollo e implemento plataformas internas con .NET y React para la gestión comercial y operativa de la empresa. Participo en automatizaciones con Python, despliegues en IIS y cPanel, y brindo soporte a las plataformas existentes.`,
    link: '',
  },
  {
    date: 'Octubre 2024 - Junio 2025',
    title: 'Practicante Profesional de TI',
    company: 'CVC Energía',
    description: `Desarrollé una aplicación móvil offline/online para el registro de suministros eléctricos y automatizaciones con Python. También mantuve la web institucional en Next.js y participé en el desarrollo de sistemas en .NET.`,
    link: '',
  },
  {
    date: 'Agosto 2024 - Septiembre 2024',
    title: 'Asistente de Gerencia',
    company: 'Devdatep Consulting',
    description: `Coordiné tareas entre áreas y supervisé su cumplimiento, asegurando altos estándares y plazos. Lideré reuniones interdepartamentales para optimizar integración y resultados, e informé al gerente sobre el desempeño del equipo, proponiendo mejoras estratégicas.`,
    link: '',
  },
  {
    date: 'Mayo 2024 - Julio 2024',
    title: 'Desarrollador React Jr',
    company: 'Devdatep Consulting',
    description: `Implementé diseños de Figma, integrando y manipulando endpoints para mostrar, filtrar y actualizar información en la base de datos.
      Mejoré y optimicé proyectos existentes, actualizando el código e implementando herramientas de calidad.`,
    link: '',
  },
  {
    date: 'Febrero 2024 - Mayo 2024',
    title: 'Practicante de TI',
    company: 'Ksoft - Senati Huánuco',
    description: `Desarrollé aplicaciones web personalizadas para satisfacer las peticiones de los clientes, mejorando su funcionalidad y usabilidad. 
      Facilité soporte técnico a los sistemas de nuestros clientes, asegurando una experiencia de usuario fluida y eficiente.`,
    link: '',
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map(experience => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
