---
import GitHubIcon from '../icons/GitHubIcon.astro'
import LikedInIcon from '../icons/LikedInIcon.astro'
import WhatsAppIcon from '../icons/WhatsAppIcon.astro'
import GmailIcon from '../icons/GmailIcon.astro'
---

<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
  

  <nav class="flex flex-row gap-x-6 opacity-80">
    <a href="/">Home</a>
    <a href="/about">About me</a>
    <a href="/skills">Skills</a>
    <a href="/projects">Project</a>
  </nav>
  <div class="flex flex-row gap-x-4">
    <a href=""><GitHubIcon ></a>
    <a href=""><LikedInIcon /></a>
    <a href=""><WhatsAppIcon /></a>
    <!-- <a href=""><GmailIcon /></a> QUEDA RARO -->
  </div>
</header>

<!-- 
    TODO: 
        - Hover a icons 

-->
