---
import Badge from "../Badge.astro";
---

<section class="w-full mx-auto lg:w-[740px] py-44">
  <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
    Hola, soy Franchesco <a
      href=""
      target="_blank"
      rel="noopener"
      class="flex justify-center items-center">
      <Badge>Disponible para trabajar</Badge>
    </a>
  </h1>
  <h2 class="text-xl opacity-80">
    Desarollador Full Stack Jr. Egresado de la carrera de Computación e
    Informática. De Lima, Perú.
  </h2>
</section>
