---
import { skillIcons } from '@/components/utils/Icons'
import CSharpIcon from '../icons/CSharpIcon.astro'
---

<div class="flex flex-wrap gap-4 justify-center p-6">
  {
    skillIcons.map((skill) => (
      <article
        class={`size-12 md:size-16 rounded-2xl p-2 relative overflow-hidden flex items-center justify-center duration-300`}
        title={skill.title}
      >
        <skill.image
          alt={skill.alt}
          class="size-10 z-5 rounded object-contain"
        />
        <div class={`absolute inset-0 rounded-2xl blur-md ${skill.bg}`} />
      </article>
    ))
  }
</div>

