---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Hero from '../components/sections/Hero.astro'
---

<Layout title="Portfolio Franchesco Somontes">
  <main>
    <Hero />

    <!-- Exp. Laboral  -->
    <!-- Projects / Certificate -->
    <!-- Skills  -->
    <!-- About me **Optional** -->
    <!-- Contáctame  -->
  </main>
</Layout>

<style></style>
