---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Hero from '../components/sections/Hero.astro'
import Experience from '../components/sections/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import BriefcaseIcon from '../components/icons/BriefcaseIcon.astro'
import StarIcon from '../components/icons/StarIcon.astro'
import Skills from '../components/sections/Skills.astro'
import Projects from '../components/sections/Projects.astro'
import CodeIcon from '@/components/icons/CodeIcon.astro'
import ContactUs from '@/components/ContactUs.tsx'
import MailIcon from '@/components/icons/MailIcon.astro'
---

<Layout
  title="Portfolio de Franchesco Somontes - Desarrollador y Programador Full Stack"
  description="Contrata a Franchesco para crear tu aplicación"
>
  <main class="px-6">
    <SectionContainer id="" class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <SectionContainer id="experience">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects" class="mt-16">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer class="mt-16">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <StarIcon class="size-7" />
        Skills
      </h2>
      <Skills />
    </SectionContainer>
    <SectionContainer class="mt-16">
      <h2 class="text-2xl font-semibold flex gap-x-3 items-center">
        <MailIcon class="size-7" />
        Contáctame
      </h2>
      <ContactUs client:load />
    </SectionContainer>
  </main>
</Layout>
<style></style>
