---
import emailjs from '@emailjs/browser'

const emailServiceId = import.meta.env.EMAIL_SERVICE_ID
const emailTemplateId = import.meta.env.EMAIL_TEMPLATE_ID
const emailPublicKey = import.meta.env.EMAIL_PUBLIC_KEY

const btn = document.getElementById('button')

document.getElementById('form').addEventListener('submit', function (event) {
  event.preventDefault()

  btn.value = 'Sending...'

  emailjs.sendForm(emailServiceId, emailTemplateId, this).then(
    () => {
      btn.value = 'Send Email'
      alert('Sent!')
    },
    err => {
      btn.value = 'Send Email'
      alert(JSON.stringify(err))
    }
  )
})
---

<section class="bg-blue-700 mt-5">
  <form id="form">
    <div class="field">
      <label for="to_name">to_name</label>
      <input type="text" name="to_name" id="to_name" />
    </div>
    <div class="field">
      <label for="from_name">from_name</label>
      <input type="text" name="from_name" id="from_name" />
    </div>
    <div class="field">
      <label for="message">message</label>
      <input type="text" name="message" id="message" />
    </div>
    <div class="field">
      <label for="email">email</label>
      <input type="text" name="email" id="email" />
    </div>
    <div class="field">
      <label for="reply_to">reply_to</label>
      <input type="text" name="reply_to" id="reply_to" />
    </div>

    <input type="submit" id="button" value="Send Email" />
  </form>
</section>

<script type="text/javascript">
  emailjs.init(emailPublicKey)
</script>
